<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

  <title>Setup User</title>
</head>
<body>
    <main class="flex items-center justify-center h-screen bg-gray-100">
        <form action="home.html">
            <div class="bg-stone-200 w-96 p-6 rounded shadow-sm text-center">
                <div class="flex items-center justify-center mb-4">
                    <img 
                    class="h-10 w-10"
                    src="https://i.pinimg.com/736x/e9/e2/78/e9e2787d0cb55d570fe1c76843506759.jpg" alt="">
                </div>
                <h1>Welcome New User</h1>
                <h3>Setup Your Profile</h3>
                <br>           
                <button type="button" class="relative truncate rounded-2xl p-2 bg-slate-300 hover:bg-slate-100">
                    <i class = "fa fa-upload"></i> Profile Picture
                    <input type="file" class="absolute opacity-0">
                </button>
                <br>
                <input type="title" name="title" id="title" placeholder="Title" class="bg-stone-200 w-full py-2 text-gray-700 px-1 outline-none mb-4 border-b-2 border-zinc-500 ">
                <br>
                <input type="text" name="bio" id="bio" placeholder="Description" class="bg-stone-200 w-full py-2 text-gray-700 px-1 outline-none mb-4 border-b-2 border-zinc-500 ">
                <button type="submit" class="bg-blue-500 w-full text-white py-2 rounded-3xl hover:bg-blue-600 transition-colors my-5">
                    Save
                </button>
                <br>
                
            </div>            
        </form>
    </main>
</body>
</html>